html {
    font-family: sans-serif;
    font-size: 0.75rem;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #0173e0 0%,#00bcd4 20%,#e0e8ef 20%,#e0e8ef 100%);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}